# -*- coding: utf-8 -*-
# encoding:utf-8
import os.path
 
SITE_SRC_ROOT = os.path.dirname(__file__) 
LOG_FILENAME = 'django.lanai.log'
 
#for logging
import logging
logging.basicConfig(filename=os.path.join(SITE_SRC_ROOT, 'log', LOG_FILENAME), level=logging.DEBUG,)
 
DATABASE_NAME = 'oli'             # Or path to database file if using sqlite3.
DATABASE_USER = 'root'               # Not used with sqlite3.
DATABASE_PASSWORD = 'ceder'               # Not used with sqlite3.
DATABASE_ENGINE = 'mysql'  #mysql, etc
 
#Moved from settings.py for better organization. (please check it up to clean up settings.py)
#email server settings
SERVER_EMAIL = 'smtp.gmail.com'
DEFAULT_FROM_EMAIL = 'admin@floss.pl'
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_SUBJECT_PREFIX = ''
EMAIL_HOST='smtp.gmail.com'
EMAIL_PORT='587'
EMAIL_USE_TLS=True
 
#LOCALIZATIONS

#OTHER SETTINGS
APP_TITLE = u'floss.pl'
APP_KEYWORDS = u'floss,linux,ubuntu,programy,grub,fedora,opensuse,kubuntu,kde,gnome'
APP_DESCRIPTION = u'Witamy na stronie floss.pl,portal przeznaczony \
jest dla osób które mają problemy z uruchomieniem , konfiguracją \
ogólnie problemami z oprogramowaniem typu FLOSS.'
APP_INTRO = u'Witamy na stronie floss.pl,portal przeznaczony \
jest dla osób które mają problemy z uruchomieniem , konfiguracją \
ogólnie problemami z oprogramowaniem typu FLOSS.  \
Skrót FLOSS oznacza Free Libre/Open Source Software po polsku WIOO czyli Wole o Otwarte Oprogramowanie.'
APP_COPYRIGHT = 'Copyright CNPROG.COM 2009'
 
USE_I18N = True
LANGUAGE_CODE = 'pl'
EMAIL_VALIDATION = 'off'
MIN_USERNAME_LENGTH = 1
EMAIL_UNIQUE = False
APP_URL = 'http://floss.pl' #used by email notif system and RSS
GOOGLE_SITEMAP_CODE = '55uGNnQVJW8p1bbXeF/Xbh9I7nZBM/wLhRz6N/I1kkA='
GOOGLE_ANALYTICS_KEY = ''