{% extends "base_content.html" %}
<!-- template 404.html -->
{% load i18n %}
{% block title %}{% spaceless %}404 Error{% endspaceless %}{% endblock %}
{% block forestyle%}
    <style type="text/css">
 		form input { margin-right: 5px; }
	</style>
{% endblock %}
{% block forejs %}
       <script type="text/javascript">
        $().ready(function(){
            $("#linkPrevious").bind("click", back=function(){history.go(-1);})            
        });
         
        </script>
{% endblock %}
{% block content %}
<div id="main-bar" class="headNormal">
    404 Nie znaleziono
</div>
<div id="main-body" class="">
    <div style="padding:5px 0px 10px 0;line-height:25px;">
        <h3>{% trans "Sorry, could not find the page you requested." %}</h3>
       
        <ul>
            <li><a href="#" id="linkPrevious">{% trans "back to previous page" %} » </li>
            <li><a href="/questions">{% trans "see all questions" %} » </a></li>
            <li><a href="/tags/">{% trans "see all tags" %} » </a></li>
        </u>
    </div>

</div>
{% endblock %}
<!-- end template 404.html -->
